@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
  min-height: 65px;
}

.navigation {
  display: flex;
  min-width: 1200px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 550px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navigation-item:not(:last-child) {
  padding-right: 34px;
}

.navigation-list-logo {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-item-logo {
  padding-left: 70px;
  padding-right: 47px;
  z-index: 1;
  position: absolute;
}

.navigation-list-wrapper {
  padding-left: 256px;
}

.navigation-user {
  max-width: 400px;
  margin-left: auto;
  text-transform: uppercase;
}

.navigation-link {
  display: block;
  padding-top: 20px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.main-container {
  flex-grow: 1;
}

.container {
  width: 1056px;
  margin: 0 auto;
}

.main {
  margin: 0;
}

.index-main {
  background-image: url("/images/index-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 485px;
  position: relative;
}

.img-main {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
}

.img-main-bottom {
  position: absolute;
  bottom: 0;
}

.info {
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
}

.info-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  padding-top: 63px;
  padding-bottom: 31px;
}

.info-subtitle {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  padding: 0;
  margin: 0;
  padding-bottom: 80px;
}

.advantages {
  text-align: center;
}

.advantages-content {
  width: 400px;
  background-color: #83b3d3;
}

.advantages-wrapper {
  display: flex;
  padding: 0;
  margin: 0;
}

.advantages-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-bgwhite {
  background-color: #ffffff;
}

.advantages-list-content {
  height: 384px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages-list-content.bgspecial {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 23px;
  padding-bottom: 20px;
}

.advantages-number,
.advantages-number-white {
  padding-top: 29px;
}

.advantages-description {
  width: 250px;
}

.advantages-title-white {
  margin: 0;
  padding: 0;
  padding-top: 97px;
  padding-bottom: 30px;
}

.advantages-description-white {
  margin: 30px 90px 87px;
}

.advantages-title-white,
.advantages-number-white,
.advantages-description-white {
  color: #ffffff;
}

.advantages-img {
  height: 384px;
}

.search {
  text-align: center;
  height: 417px;
  width: 100%;
  display: block;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  margin-top: 91px;
  margin-bottom: 29px;
}

.search-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
  margin: 29px 240px 71px;
}

.button-search {
  font-size: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  margin-bottom: 93px;
}

.email {
  background-image: url("/images/background-email-page.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 411px;
  text-align: center;
}

.email-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 94px 0 29px;
}

.email-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #ffffff;
  padding-bottom: 46px;
}

.button-email {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0;
}

.phone {
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

/* Разметка страницы каталога */

.main-catalog {
  background-image: url("/images/catalog/catalog-background.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  color: #ffffff;
}

.hotels-sedona {
  font-size: 60px;
  font-weight: 700;
  line-height: 78px;
  margin: 0;
  padding-top: 35px;
  padding-bottom: 5px;
}

.way {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.way-link {
  font-size: 16px;
  display: block;
  margin-right: 26px;
  margin-bottom: 45px;
}

.catalog-filter {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-title,
.filter-range-title {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.catalog-filter-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-end;
}

.btn-apply {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #83b3d3;
}

.hotel-filter {
  margin-bottom: 50px;
  min-height: 408px;
}

.sorting {
  display: flex;
}

.select-control {
  padding: 12px 127px 13px 19px;
}

.button-sorting {
  width: 48px;
  height: 48px;
  padding-right: 8px;
}

.hotels-value {
  font-size: 30px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  margin-right: 192px;
  margin-bottom: 56px;
}

.choice-housing {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 10px 18px;
}

.choice-housing-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}

.choice-housing-subtitle,
.choice-housing-price {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.btn-housing-more {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
}

.btn-housing-favorites {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
}

.btn-housing-favorites-active {
  background-color: #7db54f;
}

.choice-housing-subtitle,
.choice-housing-price {
  color: #333333;
}

.download {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
  width: 619px;
  height: 60px;
  margin: 84px 290px 60px;
  }

.pagination-container {
  display: flex;
}

.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link-active {
  color: #000000;
  background-color: #f2f2f2;
}

.number-hotels {
  color: #333333;
  margin-left: auto;
}

.email-inner {
  min-height: 411px;
  text-align: center;
}

.email-title-inner {
  color: #000000;
  font-size: 30px;
  line-height: 36px;
}

.email-subtitle-inner {
  color: #333333;
}
